/* Bordered form */
form {
    border: 3px solid #f1f1f1;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #002979;
    color: white;
    font-size: 15px;
    padding: 14px 20px;
    margin: 14px 0;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
    background-color: #2980B9;
    
    
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #ED0B14;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 30px 0 15px 0;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }

/* Heading styles */ 

h1 {
  font-family: sans-serif;
  font-size: 45px;
  color: #002979;
}

h3 {
  
  font-size: 37px;
  color: #002979;
}

h4 {
  
  font-size: 27px;
  color: #002979;

}

h5 {
  
  font-size: 22px;
  color: #070707;
  text-align: center;
  
}

.HouseLogo {
  display: flex;
}

.HouseLogo center {
  flex-grow: 4;
}

center {
  text-align: center;
}

.Peoplelogo{
  display:flex;

}

.Peoplelogo img{
  margin-right: 15px;
}

.AboutMe{
  display: flex;
  flex-direction: column ;
}

.AboutMe button{
  max-width: 100px;
  
}

.EventsChan{
  
  display: flex;
}

.Events, .Channels {
  
  max-width: 200px;
  margin-left: 75px;

}


li, ul {
  list-style-type: none;
  padding:0px;
  margin:0px;
  text-align: left;
}

.searchbar{
  max-width: 150px;
}

.Align{
  display: flex;
}

.Connecting {
  margin-left: 150px;
}



.Connecting{
  display: flex;
  
}

.Dropdowns {
  margin-left: px;
  margin-top: 100px;
}

.EventsChan a {
  text-decoration: none;
  color: white;
}

.Badges {
  margin-left: 150px;
}